<div style="display: flex;flex-direction: column;background:linear-gradient(180deg, #4368EB -37.08%, rgba(164, 184, 255, 0) 100%), url(
    ../../../assets/images/login-bg.jpg);background-size: 100% 100%;">
    <app-header></app-header>

    <div class="sty" style=" min-height: 80vh;display: flex;flex-direction: column;justify-content: center;align-items: center;
        color: white;">
        <h1 class="col-12 text-center alert alert-danger" style="max-width: 50vw;">Access Denied</h1>
        <button class="btn btn-light" routerLink="/">Home</button>

        <img src="../../../assets/images/undraw_access_denied_re_awnf.svg" alt="no-tool"
            style="height: 40vh;margin-top: 10vh;" />


    </div>

</div>