.project-head {
    font-size: 50px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}



.project-bg {
    background-image: linear-gradient(267.51deg, rgba(245, 249, 250, 1) 3.54%, rgba(245, 249, 250, 0.2) 97.56%), url('../../../../../assets/images/undraw_design_tools_42tf.png');
    background-size: cover;
    min-width: 80vw;
    min-height: 80vh;

}

// .content-bg {
//     background-image: linear-gradient(267.51deg, rgba(40, 223, 192, 0.6) 3.54%, rgba(28, 197, 255, 0.6) 97.56%), url('../../../../../assets/images/undraw_design_tools_42tf.png');
// }

.card:hover {
    transform: scale(1.1, 1.1);
}

@media (max-width: 767px) {
    .content-bg {
        margin-top: 20%;
    }
}

@media (min-width: 768px) {
    .content-bg {
        margin-top: 10%;
    }
}