<div style="display: flex;flex-direction: column;background:linear-gradient(180deg, #4368EB -37.08%, rgba(164, 184, 255, 0) 100%), url(
    ../../../assets/images/not-found-page.jpg);background-size: 100% 100%;">
    <app-header></app-header>

    <div class="sty" style=" min-height: 80vh;display: flex;flex-direction: column;justify-content: center;align-items: center;
        color: white;">
        <h1 style="font-size: 40px;font-weight: bold;">Lost your way?</h1>
        <!-- <p style="font-size: 20px;">Sorry, we can’t find that page. You’ll find lots to explore on the home page.</p> -->
        <button type="button" class="btn btn-light" routerLink="/">Home Page</button>
    </div>
</div>