<div class="bg-profile">
    <h3>Reset Password</h3>
    <form *ngIf="!loading" [formGroup]="changePswd" class="big" (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-between" style="margin-bottom: 20px;width: 100%;">
            <label style="max-width: 40%;min-width: 35%;">Current Password</label>
            <div style="max-width: 120%;min-width: 100%;">
                <input formControlName="currentPswd" type="password" class="form-control" style="width: 60%;" />
                <div *ngIf="changePswd.get('currentPswd')?.errors  && submit">
                    <div *ngIf="changePswd.get('currentPswd')?.hasError('required')">
                        <span style="color: red;">*Please Enter Current Password.</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-between" style="margin-bottom: 20px;width: 100%;">
            <label style="max-width: 40%;min-width: 35%;">New Password</label>
            <div style="max-width: 120%;min-width: 100%;">
                <input formControlName="newPswd" type="password" class="form-control" style="width: 60%;" />
                <div *ngIf="changePswd.get('newPswd')?.errors  && submit">
                    <div *ngIf="changePswd.get('newPswd')?.hasError('required')">
                        <span style="color: red;">*Please Enter New Password.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="margin-bottom: 20px;width: 100%;">
            <label style="max-width: 40%;min-width: 35%;">Confirm Password</label>
            <div style="max-width: 120%;min-width: 100%;">
                <input formControlName="confirmPswd" type="password" class="form-control" style="width: 60%;" />
                <div *ngIf="changePswd.get('confirmPswd')?.errors  && submit">
                    <div *ngIf="changePswd.get('confirmPswd')?.hasError('required')">
                        <span style="color: red;">*Please Check Your Password.</span>
                    </div>
                </div>
            </div>
        </div>

        <p class="alert alert-success" *ngIf="success">
            {{success}}
        </p>
        <!-- <p class="text-danger" *ngIf="fail">
            {{fail}}
        </p> -->

        <button class="btn mt-2" type="submit" style="background: linear-gradient(273.22deg, #E81653 0%, #990098 101.78%);
        color: white;color: white;">Submit</button>
    </form>

    <form *ngIf="!loading" [formGroup]="changePswd" class="small" (ngSubmit)="onSubmit()">
        <div>
            <label>Current Password</label>
            <input formControlName="currentPswd" type="password" class="form-control" />
        </div>
        <div>
            <label>New Password</label>
            <input formControlName="newPswd" type="password" class="form-control" />
        </div>
        <div>
            <label>Confirm Password</label>
            <input formControlName="confirmPswd" type="password" class="form-control" />
        </div>

        <p class="alert alert-success" *ngIf="success">
            {{success}}
        </p>
        <p class="text-danger" *ngIf="fail">
            {{fail}}
        </p>

        <button [disabled]="!changePswd.valid" class="btn mt-2" type="submit" style="background-color: #5680e9;
        color: white;color: white;">Submit</button>
    </form>
</div>




<div *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
</div>