.form-input {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    min-width: 20vh;
}

.bg-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

form {
    margin-top: 30px;
}

// input:focus {
//     border: none;
//     box-shadow: none;
// }

@media (min-width: 768px) {
    .small {
        display: none;
    }

    .big {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .big {
        display: none;
    }

    .small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}